<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Memory</key>
		<dict>
			<key>DataWidth</key>
			<integer>64</integer>
			<key>ErrorCorrection</key>
			<integer>3</integer>
			<key>FormFactor</key>
			<integer>9</integer>
			<key>MaxCapacity</key>
			<integer>137438953472</integer>
			<key>TotalWidth</key>
			<integer>64</integer>
			<key>Type</key>
			<integer>26</integer>
			<key>TypeDetail</key>
			<integer>21</integer>
			<key>Devices</key>
			<array>
				<dict>
					<key>AssetTag</key>
					<string>Unknown</string>
					<key>BankLocator</key>
					<string>P0 CHANNEL A</string>
					<key>DeviceLocator</key>
					<string>DIMM 0</string>
					<key>Manufacturer</key>
					<string>OLOy</string>
					<key>PartNumber</key>
					<string>CL16-20-20 D4-3200</string>
					<key>SerialNumber</key>
					<string>00000000</string>
					<key>Size</key>
					<integer>32768</integer>
					<key>Speed</key>
					<integer>3200</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string>Unknown</string>
					<key>BankLocator</key>
					<string>P0 CHANNEL B</string>
					<key>DeviceLocator</key>
					<string>DIMM 0</string>
					<key>Manufacturer</key>
					<string>OLOy</string>
					<key>PartNumber</key>
					<string>CL16-20-20 D4-3200</string>
					<key>SerialNumber</key>
					<string>00000000</string>
					<key>Size</key>
					<integer>32768</integer>
					<key>Speed</key>
					<integer>3200</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM
</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM_EMPTY</string>
					<key>Manufacturer</key>
					<string>EmptyDIMM</string>
					<key>PartNumber</key>
					<string>EmptyDIMM</string>
					<key>SerialNumber</key>
					<string>EmptyDIMM</string>
					<key>Size</key>
					<integer>1</integer>
					<key>Speed</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>CustomMemory</key>
		<true/>
	</dict>
</dict>
</plist>
